/* screen - opening-page */

.opening-page {
  align-items: center;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  gap: 62px;
  height: 1024px;
  width: 1440px;
}

.opening-page .overlap-group1 {
  height: 646px;
  position: relative;
  width: 1440px;
}

.opening-page .overlap-group {
  height: 576px;
  left: 0;
  position: absolute;
  top: 0;
  width: 1440px;
}

.opening-page .line-1 {
  height: 500px;
  left: 0;
  width: 721px;
}

.opening-page .line-2 {
  height: 489px;
  left: 736px;
  width: 704px;
}

.opening-page .image-1 {
  height: 128px;
  left: 656px;
  object-fit: cover;
  position: absolute;
  top: 448px;
  width: 128px;
}

.opening-page .text-loi-moi {
  align-items: center;
  display: flex;
  gap: 10px;
  height: 91px;
  justify-content: center;
  left: 447px;
  position: absolute;
  top: 555px;
  width: 545px;
}

.opening-page .xin-gi-bn-th-mi-nha {
  color: #c553ac;
  font-family: var(--font-family-labrada);
  font-size: var(--font-size-xxl);
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  width: fit-content;
}

.opening-page .open-button-on-opening-page {
  align-items: center;
  background-color: #ff90d6;
  border: 1px solid;
  border-color: #c553ac;
  border-radius: 28px;
  cursor: pointer;
  display: flex;
  gap: 10px;
  height: 92px;
  justify-content: center;
  margin-right: 1.0px;
  position: relative;
  transition: all 0.2s ease;
  width: 267px;
}

.opening-page .open-button-on-opening-page:hover {
  transform: scale(1.1);
}

.opening-page .m {
  -webkit-text-stroke: 1px #ff7fc3;
  color: var(--white);
  font-family: var(--font-family-museomoderno);
  font-size: var(--font-size-xxxl);
  font-weight: 600;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -3.50px;
  position: relative;
  width: fit-content;
}

.opening-page .line {
  object-fit: cover;
  position: absolute;
  top: 0;
}
